
// COMPONENTS

@use "./components/index" as *;

// COMPONENTS

.body {
    @extend %flex-center;
    height: 100vh;
    font-family: 'Hind Madurai', sans-serif;
    letter-spacing: 1px;

    color: $color-text;
    background-color: $color-background;
}

h1 {
    @extend %title-h1;
}

h2, h3 {
    @extend %title-h2;
}

a{
    @extend %d-inline-block;
    text-decoration: underline;
    color: $color-text;

    transition: 0.4s;
    
    &:hover{
        color: $color-link;

        transform: scale(1.02);

        transition: 0.4s;
    }
}


.wrapper{
    @extend %grid-default;
    min-height: 95%; max-height: 95% ;
    width: 95%;
    
    border-radius: 1rem;
    box-shadow: 2px 2px 4px silver, -2px -2px 4px silver ;
    @extend %padding-0_5rem;

    background-color: $color-background;
}

.container_header_footer {
    @extend %grid-default;
    @include grid-position(1 /span 2, 1 /span 12);
    border-radius: 0.5rem 0 0 0.5rem;
    box-shadow: -2px -2px 4px silver;
}

.header {
    @include grid-position(1 /span 12, 1 /span 11);
    @extend %padding-0_5rem;
}

.footer {
    @extend %flex-center;
    @include grid-position(1 /span 12, 11 /span 2 );
    flex-flow: column wrap;
    gap: 0.5rem;
}

.container_nav_secondary{
    @extend %flex-center;
    @include grid-position(3 /span 10, 1 /span 1);
    padding: 2rem;

    box-shadow: 2px -2px 4px silver;
    border-radius: 0 0.5rem 0.5rem 0;

    text-transform: capitalize;
}

.sections {
    @extend %grid-default;
    @extend %padding-0_5rem;
    @include grid-position(3 /span 10, 2 /span 11);
}

.container_section {
    @extend %grid-default;
    @extend %padding-0_5rem;
    @include grid-position (2 / span 10, 2 / span 10);
}

