// COMPONENTS
@use "./components/index" as *;

.body {
  font-family: "Hind Madurai", sans-serif;

  & * {
    &::-webkit-scrollbar {
      width: 1.25vh; 
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 9px;
      background: $color-primary;
    }
  }
}

a {
  display: inline-block;
  text-decoration: none;
  color: $color-text;
  @extend %transition;

  &:hover {
    transform: scale(1.05);
  }
}

.body_wrapper {
  height: 100vh;
}

.container_header_footer {
  @extend %flex-column;
  @include grid-position(1 / span 2, 1 / span 12);
  box-shadow: -4px -3px 4px silver, 0 4px 4px silver;
  border-radius: 1rem;
}

.main {
  @include grid-position(3 / span 10, 3 / span 10);
  @extend %flex;
  // @extend %padding-0_5rem;
  padding: 1% 0 0 1%;
}

.sections {
  @include grid-position(1 / span 12, 1 / span 12);
  @extend %flex;
  width: 100%;
  border-radius: 1rem;

  box-shadow: 0px -1px 4px silver, 1px 1px 4px silver;
}
