
// COMPONENTS

@use "./components/index" as *;

// COMPONENTS

.body {
    @extend %flex-center;
    height: 100vh;
    font-family: 'Hind Madurai', sans-serif;
    letter-spacing: 1px;

    color: $color-text;
    background-color: $color-background;
}

h1 {
    @extend %title-h1;
}

h2, h3 {
    @extend %title-h2;
}

a{
    @extend %d-inline-block;
    text-decoration: underline;
    color: $color-text;

    transition: 0.4s;
    
    &:hover{
        color: $color-link;

        transform: scale(1.02);

        transition: 0.4s;
    }
}


.wrapper{
    @extend %grid-default;
    min-height: 95vh; max-height: 98% ;
    width: 98%;
    
    border-radius: 1rem;
    box-shadow: 4px 4px 4px silver, -4px -4px 4px silver ;
    padding: 0.5rem;

    background-color: $color-background;
}

.container_header_footer {
    @extend %grid-default;
    @include grid-position(1 /span 2, 1 /span 12);
    border-radius: 0.5rem 0 0 0.5rem;
    // border-right: solid 1px;
    box-shadow: 2px 0 4px silver;
}

.header {
    @include grid-position(1 /span 12, 1 /span 11);
    padding: 0.5rem;
}

.footer {
    @extend %flex-center;
    @include grid-position(1 /span 12, 11 /span 2 );
    flex-flow: column wrap;
    gap: 0.5rem;
}

.container_nav_secondary{
    @extend %flex-center;
    @include grid-position(3 /span 10, 1 /span 1);

    box-shadow: 2px 2px 4px silver;
    border-radius: 0 0.5rem 0.5rem 0;
}

.sections {
    @extend %grid-default;
    @include grid-position(3 /span 10, 2 /span 11);
    padding: 0.5rem;
}
