
// COMPONENTS

@use "../../../components/index" as *;

// COMPONENTS

.a1.contact .container {
    @extend %flex;
    @extend %padding-1rem;
    justify-content: center;
}

.contact_content {
    min-width: 30%; max-width: 50%;
    @extend %padding-1rem;
    @include border ($radius:1rem);
    @extend %flex;
    flex-flow: column wrap;
    gap: 1rem;
}

.a1.contact p {
    margin: auto;
}

.contact_cta {
    align-self: center;
    margin: auto;
}