
// COMPONENTS

@use "../../components/index" as *;

// COMPONENTS

.container_logo {
    @extend %flex-center;
    gap: 0.5rem;

    h1 {
        @extend %title-h1;
    }
}

.logo {
    @include body(5rem, 5rem);
    // transform: scale(1.8);
}