// COMPONENTS

@use "../../components/index" as *;

// COMPONENTS

.container_logo {
  @extend %flex-center;
  align-self: flex-start;
  gap: 1rem;
  @extend %pointer;
}

.container_logo h1 {
  @extend %title-h1;
  text-transform: capitalize;
}

.logo {
  @include body(3.5rem, 3.5rem);
}
