
// COMPONENTS

@use "../../components/index" as *;

// COMPONENTS

.nav_principal {
    @extend %flex-center;
}

.list {
    @extend %flex;
    @include flex (space-evenly, center);
    flex-flow: column wrap;
    gap: 1rem;

    padding: 1rem 0.5rem;

}