// COMPONENTS

@use "./variables" as *;

@use "./colors" as *;

@use "./extend" as *;

@use "./mixin" as *;

// COMPONENTS

.btn {
  padding: 0.25rem 1rem;
  border-radius: 5rem;

  font-size: 1.1rem;
  font-weight: 600;

  text-transform: capitalize;

  color: #fff;
  background-color: rgba($color-secondary, 1);
}
