
// COMPONENTS

@use "./variables" as *;

@use "./colors" as *;

@use "./extend" as *;

@use "./mixin" as *;

// COMPONENTS

.btn {
    @extend %padding-0_5rem;
    border-radius: 1rem;
    background-color: rgba($color-green,1);
    color: #fff !important;
    font-size: 1.1rem;
    font-weight: 900;
}