
// COMPONENTS

@use "./variables" as *;

@use "./colors" as *;

@use "./extend" as *;

@use "./mixin" as *;

// COMPONENTS

.btn {
    @extend %padding-0_5rem;
    border-radius: 1rem;
    background-color: rgba($color-yellow,0.5);
    color: #000;
}