
$color-background: #f3f6ff;

$color-text: #000;

$color-link: #1734cf;

$color-primary: #0700ff;

$color-secondary: #a900ff;

$color-tertiary: #ffec19;

$color-danger: #ac0300;

$gradient : linear-gradient(326deg, rgba(7,0,255,0.2528361686471463) 10%, rgba(32,32,32,0.25003504819896705) 50%, rgba(169,0,255,0.2528361686471463) 90%);