
// COMPONENTS

@use "./variables" as *;

@use "./colors" as *;

@use "./mixin" as *;

// COMPONENTS

// DISPLAY

%d-inline-block {
    display: inline-block;
}

// flex

%flex{
    display: flex;
}

%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

// GRID

%grid{
    display: grid;
}

%grid-default{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

// FONTS

%title-h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

%title-h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
}