

// COMPONENTS

@use "../../../components/index" as *;

// COMPONENTS

// SHAPE

.designe_dev {

    width: 99%; height: 99%;
    margin: auto;

    scroll-behavior: smooth;
    &::-webkit-scrollbar {width: 8px};
    &::-webkit-scrollbar-thumb{border-radius: 8px; background-color: $color-blue};

    &.active {
        
        @extend %grid; 
        @extend %padding-1rem; 
        grid-template-columns: repeat(auto-fit, minmax(calc(100% / 3),1fr)) ;
        grid-auto-rows: 20vh;
        justify-content: center;
        grid-gap: 1rem;
    
        overflow-y: scroll;
    }

        img {
            min-width: 60%;
            
            @include body (100%, auto);
        }
}