
// COMPONENTS

@use "../../../components/index" as *;

// COMPONENTS

// SHAPE

// CREATIONS TRAVAUX RESSOURCES

.cards.creations, .cards.travaux, .cards.ressources {
    margin: 1.5rem
}


.cards.a1.creations, .cards.a1.travaux, .cards.a1.ressources {
    @extend %position-relative;
    @extend %margin-1rem;
    @extend %hover-cursor;
    @include grid-position (1 / span 6, 1 / span 12);

    background:linear-gradient(326deg, rgba(8, 0, 255, 0.08) 10%, rgba(32, 32, 32, 0.08) 50%, rgba(170, 0, 255, 0.08) 90%), center / cover  no-repeat url(../img/svg/divers/designe.svg);

    &:hover {
        animation: beats 2.5s linear infinite 0.3s;
    }
}

.cards.a2.creations, .cards.a2.travaux, .cards.a2.ressources {
    @extend %position-relative;
    @extend %margin-1rem;
    @extend %hover-cursor;
    @include grid-position (7 / span 6, 1 / span 12);

    background: linear-gradient(326deg, rgba(170, 0, 255, 0.08) 10%, rgba(32, 32, 32, 0.08) 50%,rgba(8, 0, 255, 0.08)90%), center  no-repeat url(../img/svg/divers/dev.svg);
    
    &:hover {
        animation: beats 2.5s linear infinite 0.3s;
    }

}

.cards.a3.creations, .cards.a3.travaux, .cards.a3.ressources {
    @extend %display-none;
    
    &.place {
        z-index: 5;
        @extend %display-block;
        @extend %hover-cursor;
        @include grid-position (1 / span 3, 2 / span 4);
    }
}

.cards.a4.creations, .cards.a4.travaux, .cards.a4.ressources {
    @extend %display-none;
    
    &.place {
        z-index: 5;
        @extend %display-block;
        @extend %hover-cursor;
        @include grid-position (4 / span 3, 2 / span 4);
    }
}

.cards.a1.creations, .cards.a1.travaux, .cards.a1.ressources, .cards.a2.creations, .cards.a2.travaux, .cards.a2.ressources
{

    
    &.fade {
        @extend %display-none;
    }

    
    &.bloom {
        @include grid-position (1 / span 12, 1 / span 12);
        cursor: default;
        animation: none;

        &:hover {
            transform: scale(1);
        }
    }

}

// CREATIONS TRAVAUX RESSOURCES

.container_section.creations-active {
    @extend %flex-center;
    gap: 2rem; flex-wrap: wrap;
}
