
// COMPONENTS

@use "../../../components/index" as *;

// COMPONENTS

.project {
    @extend %position-absolute; z-index: 5;
    // @extend %flex-center; 
    @extend %hover-cursor;
    @include body(18vh,18vh);
    border: $color-blue solid 1px;
    border-radius:50%;
    align-self: flex-end;


    box-shadow:1px 1px 5px silver, -1px -1px 5px silver ;

    background-color: white;
}

.container_card.active {
    .project {
    margin-right: auto;
    }
}