
// COMPONENTS

@use "../../../components/index" as *;

// COMPONENTS

.project {
    @extend %position-absolute; z-index: 5;
    @extend %hover-cursor;
    @include body(18vh,18vh);
    border: $color-blue solid 2px;
    border-radius:50%;
    align-self: flex-end;


    box-shadow:1px 1px 5px silver, -1px -1px 5px silver ;

    background-color: white;

    &:hover {
        animation: beats 2.5s linear infinite 0.3s;
    }
}

.container_card.active {
    .project {
    margin-right: auto;
    }
}