
// COMPONENTS

@use "../../../components/index" as *;

// COMPONENTS

// SHAPE

// CREATIONS TRAVAUX RESSOURCES


.cards.a1.creations, .cards.a1.travaux, .cards.a1.ressources {
    @extend %position-relative;
    @extend %margin-1rem;
    @extend %hover-cursor;
    @include grid-position (1 / span 6, 1 / span 12);

    
        &.fade {
            @extend %display-none;
        }


        &.bloom {
            @include grid-position (1 / span 12, 1 / span 12);

            &:hover {
                transform: scale(1);
            }
        }
}

.cards.a2.creations, .cards.a2.travaux, .cards.a2.ressources {
    @extend %position-relative;
    @extend %margin-1rem;
    @extend %hover-cursor;
    @include grid-position (7 / span 6, 1 / span 12);

    
        &.fade {
            @extend %display-none;
        }

        
        &.bloom {
            @include grid-position (1 / span 12, 1 / span 12);

            &:hover {
                transform: scale(1);
            }
        }
}

.cards.a3.creations, .cards.a3.travaux, .cards.a3.ressources {
    @extend %display-none;
    
    &.place {
        z-index: 5;
        @extend %display-block;
        @extend %hover-cursor;
        @include grid-position (2 / span 4, 2 / span 4);
    }
}

.cards.a4.creations, .cards.a4.travaux, .cards.a4.ressources {
    @extend %display-none;

    
    &.place {
        z-index: 5;
        @extend %display-block;
        @extend %hover-cursor;
        @include grid-position (8 / span 4, 2 / span 4);
    }
}

.cards.a5.creations, .cards.a5.travaux, .cards.a5.ressources {
    @extend %display-none;

    
    &.place {
        z-index: 5;
        @extend %display-block;
        @extend %hover-cursor;
        @include grid-position (2 / span 4, 8 / span 4);
    }

}

.cards.a6.creations, .cards.a6.travaux, .cards.a6.ressources {
    @extend %display-none;

    
    &.place {
        z-index: 5;
        @extend %display-block;
        @extend %hover-cursor;
        @include grid-position (8 / span 4, 8 / span 4);
    }

}

// CREATIONS TRAVAUX RESSOURCES

.container_section.creations-active {
    @extend %flex-center;
    gap: 2rem; flex-wrap: wrap;
}

.cards.creations-active {
    @include body (calc(100% / 3.5), calc(100% / 3.5));
    @extend %hover-cards;
}
