
// COMPONENTS

@use "../../../components/index" as *;

// COMPONENTS

// SHAPE

// PROFIL

.cards.profil {
    // @include body (auto, auto);
}

.cards.a1.profil {
    @include grid-position (1 / span 12, 1 / span 12);
    @extend %margin-0_5rem;
}

.cards.a2.profil {
    @extend %display-none;
}

.cards.a3.profil {
    @extend %display-none;
}

.cards.a4.profil {
    @extend %display-none;
}

.cards.a5.profil {
    @extend %display-none;

}

.cards.a6.profil {
    @extend %display-none;
}

// COMPETENCES FORMATIONS INTERET 

.cards.a1.competences {
    @include grid-position (1 / span 12, 1 / span 12);
    @extend %margin-0_5rem;
}

.cards.a2.competences {
    @include grid-position (7 / span 6, 1 / span 12);
    @extend %margin-0_5rem;
}

.cards.a3.competences {
    @extend %display-none;
}

.cards.a4.competences {
    @extend %display-none;
}