
// COMPONENTS

@use "../../../components/index" as *;

// COMPONENTS

.nav_secondary.profil {
    @extend %flex;
    align-items: center;
    width: 90%;
    
    .secondary_ul {
        @extend %flex;
        @include flex (space-evenly, center);
        width: 80%;
        
        li {
            @extend %hover-cursor;
            text-transform: capitalize;

            &:hover {
                padding: 0 1rem;
                border-radius: 0.5rem;
                color: #000;
                background: linear-gradient(326deg, rgba(7,0,255,0.2528361686471463) 10%, rgba(32,32,32,0.25003504819896705) 50%, rgba(169,0,255,0.2528361686471463) 90%);
            }
        }
    }
}

.secondary_ul li.active {
    padding: 0 1rem;
    border-radius: 0.5rem;

    font-weight: 600;

    color: #fff;

    background: $color-blue linear-gradient(326deg, rgba(7,0,255,0.2528361686471463) 10%, rgba(32,32,32,0.25003504819896705) 50%, rgba(169,0,255,0.2528361686471463) 90%);
}
