
// COMPONENTS

@use "../../../components/index" as *;

// COMPONENTS

.cards.a1.profil .container {
    @extend %flex;
    @include body (100%, 100%);
    justify-content: space-around;
    
    .profil_illustration{
        @extend %flex-center;
        width: 45%;
        img {
            @include body (100%, 100%);
        }
    }

    
    article{
        @extend %flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 100%;
        text-align: center;

        p {
            @extend %flex-center;
            @extend %padding-0_5rem;
            min-width: 50%; max-width: 90%;
            min-height: 50%;
        }

        ul {
            @extend %flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            @include body (100%, 100%);
            margin: 0.5rem 0 0.5rem auto;
            @extend %padding-1rem;
            // border-left: solid 1px ;
            // box-shadow: silver -2px 0 4px, inset  silver 0 0px 4px;

            overflow-y: scroll;
            overflow-x: hidden;

            scroll-behavior: smooth;
            &::-webkit-scrollbar {width: 8px};
            // &::-webkit-scrollbar-track{border-radius: 8px; box-shadow: inset 5px 5px 5px silver;};
            &::-webkit-scrollbar-thumb{border-radius: 8px; background-color: $color-blue};
        }

        li {
            @extend %flex;
            align-items: center;
            gap: 1.5rem; 
            width: 100%;
            @extend %padding-0_5rem;
            // @extend %title-h2;
            
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            
            text-transform: capitalize;
            
            cursor: pointer;
            
            transition: 0.4s;
            
            &:hover {
                border-radius: 1rem;
                color: #000;
                // background-color: $color-blue;
                background: linear-gradient(326deg, rgba(7,0,255,0.2528361686471463) 10%, rgba(32,32,32,0.25003504819896705) 50%, rgba(169,0,255,0.2528361686471463) 90%);
                // border-bottom: solid 1px;
                box-shadow: silver 0 2px 4px, silver -2px 0 4px ;

                transform: scale(1.05);

                transition: 0.3s;
            }
        }

        li.active {
            background: $color-blue linear-gradient(326deg, rgba(7,0,255,0.2528361686471463) 10%, rgba(32,32,32,0.25003504819896705) 50%, rgba(169,0,255,0.2528361686471463) 90%)
        }

        img {
            @include body (40px, 40px);
        }
    }
}