
// COMPONENTS

@use "../../../components/index" as *;

// COMPONENTS

.cards.a1.profil .container {
    @extend %flex-center;
    height: 100%;
    justify-content: space-around;
    
    .profil_illustration{
        @extend %flex-center;
        width: 45%;
    }
    
    article{
        @extend %flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 100%;
        text-align: center;

        p {
            @extend %flex-center;
            @extend %padding-0_5rem;
            min-width: 50%; max-width: 90%;
            min-height: 50%;
        }
    }
}