
// COMPONENTS

@use "../../../components/index" as *;

// COMPONENTS

.cards.a1.profil .container {
    @extend %flex;
    @include body (100%, 100%);
    justify-content: space-around;

    
    article{
        @extend %flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 100%;
        text-align: center;
        
        p {
            @extend %flex-center;
            @extend %padding-0_5rem;
            min-width: 50%; max-width: 90%;
            min-height: 50%;
        }

        ul {
            @extend %flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            @include body (100%, 100%);
            margin: 0.5rem 0 0.5rem auto;
            @extend %padding-1rem;
            // border-left: solid 1px ;
            // box-shadow: silver -2px 0 4px, inset  silver 0 0px 4px;

            overflow-y: scroll;
            overflow-x: hidden;

            scroll-behavior: smooth;
            &::-webkit-scrollbar {width: 8px};
            // &::-webkit-scrollbar-track{border-radius: 8px; box-shadow: inset 5px 5px 5px silver;};
            &::-webkit-scrollbar-thumb{border-radius: 8px; background-color: $color-blue};
        }

        li {
            @extend %flex;
            align-items: center;
            gap: 1.5rem; 
            width: 100%;
            @extend %padding-0_5rem;
            // @extend %title-h2;
            
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            
            text-transform: capitalize;
            
            cursor: pointer;
            
            transition: 0.4s;
            
            &:hover {
                border-radius: 1rem;
                color: #000;
                // background-color: $color-blue;
                background: linear-gradient(326deg, rgba(7,0,255,0.2528361686471463) 10%, rgba(32,32,32,0.25003504819896705) 50%, rgba(169,0,255,0.2528361686471463) 90%);
                // border-bottom: solid 1px;
                box-shadow: silver 0 2px 4px, silver -2px 0 4px ;

                transform: scale(1.05);

                transition: 0.3s;
            }
        }

        li.active {
            border-radius: 1rem;
            color: #fff;
            background: $color-blue linear-gradient(326deg, rgba(7,0,255,0.2528361686471463) 10%, rgba(32,32,32,0.25003504819896705) 50%, rgba(169,0,255,0.2528361686471463) 90%);

            &:hover {
                color: #000;
                background: linear-gradient(326deg, rgba(7,0,255,0.2528361686471463) 10%, rgba(32,32,32,0.25003504819896705) 50%, rgba(169,0,255,0.2528361686471463) 90%);
            }
        }

        img {
            @include body (40px, 40px);
        }
    }
}


.profil_illustration{
    @extend %position-relative; z-index: 0;
    @extend %flex-center;
    width: 45%;
    
    .stats{
        @extend %position-absolute; inset: 0;
        @extend %flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 10% 0;

        opacity: 0;
    }
    
    .stats_container {
        width: 100%; max-height: 40%;
        @extend %flex;
        @extend %padding-0_5rem;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;

        // border: solid 1px;
        // border-bottom: solid 1px;
        border-radius: 1rem;
        
        box-shadow: 1px 1px  silver, 0 -1px silver ;
        // margin-bottom: auto;

        img {
            @include body (20vh, 20vh);
            border-radius: 1rem;
            // border: solid 1px;
            
            box-shadow: 1px 1px 5px $color-blue, -1px -1px 5px $color-blue ;
        }

        .stats_def {
            max-height: 80%;
            @extend %padding-0_5rem;
            margin: auto;

            overflow-y: scroll;
            
            scroll-behavior: smooth;
            &::-webkit-scrollbar {width: 8px};
            // &::-webkit-scrollbar-track{border-radius: 8px; box-shadow: inset 5px 5px 5px silver;};
            &::-webkit-scrollbar-thumb{border-radius: 8px; background-color: $color-blue};
        }
    }

    .juge_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4%;

        gap: 1rem;
    }

    .stats_juge {
        @extend %position-relative; z-index: 0;
        border: $color-blue solid 3px;
        border-top: none;
        border-bottom: none;
        width: 100%; height: 100%;
        border-radius: 1rem;

        text-align: center;
        
    }
    .stats_taux {
        // content: "";
        @extend %position-absolute;  z-index: 5;
        height: 100%;
        border-radius: 1rem;

        background-color: $color-yellow;

        // animation: travel2 1.5s ease-out forwards;
        animation: name duration timing-function delay iteration-count direction fill-mode;
    }


    .stats_link.active {
        font-weight: 500;
        opacity: 1;

        transition: 0.3s;
    }
    .stats_link.desactive {
        display: none;
    }

    img {
        @include body (100%, 100%);
        opacity: 1;
        transition: 0.3s;
    }
}


.profil_illustration.active{
    // @extend %flex-center;
    // width: 45%;

    .stats {
        // @extend %flex-center;
        // width: 50vh; height: 50vh;
        // border: $color-blue solid 25px;
        // border-radius: 50%;

        /*&::after {
            content: "";
        @extend %position-absolute; 
        width: 50vh; height: 50vh;
        border: solid 25px;
        border-radius: 50%;

        animation: travel2 5;
        }
        */

        // background-color: red;

        opacity: 1;
        
    }

    .illus_1 {
        @include body (100%, 100%);
        opacity: 0;
        transition: 0.3s;
    }
}