
// COMPONENTS

@use "../../../components/index" as *;

// COMPONENTS


// SHAPE

.cards.a1.accueil .container {
    @extend %flex;
}

.accueil_article {
    @extend %flex; 
    flex-direction: column;
    // gap: 1rem;
    width: 45%;

    // color: #fff;
    font-size: 1.2rem;
    font-weight: 500
}

.accueil_article_profil {
    @extend %flex;
    align-items: center;
    @extend %padding-0_5rem;
    gap: 0.5rem;

    img {
        @include body(50px, 50px);
        border-radius: 50%;
    }
}

.accueil_article p {
    @extend %flex-center;
    @extend %margin-auto;
    @extend %padding-0_5rem;
    min-width: 50%; max-width: 90%;
    align-self: flex-end;

}

.accueil_article_illustration {
    @extend %flex-center;
    @extend %margin-auto;
    @extend %padding-0_5rem;
    width: 45%;

    
    img {
        @include body(60%, auto);
        transform: scale(1.3);
    }
}

.accueil_cta {
    align-self: flex-end;
    padding-bottom: 1rem;
    transform: translate(80%);
}