
// COMPONENTS

@use "../../../components/index" as *;

// COMPONENTS


// SHAPE

.cards.accueil {
    @include body (auto, auto);
}

.cards.a1.accueil {
    @include grid-position (1 / span 12, 1 / span 6);
    background: center / cover no-repeat url(../img/svg/accueil/paysage.svg);
}

.cards.a2.accueil {
    @extend %margin-3rem;
    @extend %hover-cards;
    @include grid-position (1 / span 4, 8 / span 4 );
}

.cards.a3.accueil {
    @extend %margin-3rem;
    @extend %hover-cards;
    @include grid-position (5 / span 4, 8 / span 4 );
}

.cards.a4.accueil {
    @extend %margin-3rem;
    @extend %hover-cards;
    @include grid-position (9 / span 4, 8 / span 4 );
}

.cards.a5.accueil {
    @extend %display-none;

}

.cards.a6.accueil {
    @extend %display-none;
}